[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=win10 drive mount
Comment=
Exec=sudo mount -t ntfs /dev/sda2 /mnt/win10/
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

