[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/black/Desktop/arduino-arduinoide.desktop]
row=5
col=0

[A428187E281851A2]
row=1
col=0

[8052F38552F37E6A]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/black]
row=4
col=0

